$color-white: #ffffff;
$color-dark-primary: #b9276e;
$color-light-primary: #f8626b;

.btnDiv {
  display: flex;
  justify-content: baseline;

  a {
    font-size: 1.2rem;
    @media (max-width: 1307px) {
      margin: 0.5rem;
    }

    &:first-child {
      margin-right: 1rem;
      background: rgb(185, 39, 110);
      background: linear-gradient(
        146deg,
        rgba(185, 39, 110, 1) 5%,
        rgba(248, 98, 107, 1) 100%
      );
      border-radius: 60px;
      padding: 0.5rem 2rem;
      color: $color-white;
      &:hover {
        transition: all 500ms;

        color: $color-white;
        background: rgb(5, 162, 207);
        background: linear-gradient(
          146deg,
          rgba(5, 162, 207, 1) 5%,
          rgba(31, 62, 130, 1) 100%
        );
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
          0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
      }
    }
    &:last-child {
      background: rgb(5, 162, 207);
      background: linear-gradient(
        146deg,
        rgba(5, 162, 207, 1) 5%,
        rgba(31, 62, 130, 1) 100%
      );
      border-radius: 60px;
      padding: 0.5rem 2rem;
      color: $color-white;
      &:hover {
        transition: all 500ms;

        color: $color-white;
        background: rgb(185, 39, 110);
        background: linear-gradient(
          146deg,
          rgba(185, 39, 110, 1) 5%,
          rgba(248, 98, 107, 1) 100%
        );
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
          0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
      }
    }
  }
  @media (max-width: 1500px) {
    justify-content: center;
  }
}
